body {
  text-align: center;
  background-color: #011f3f;
}

.header {
  height: 180px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 5%;
  color: #fef2bf;
  padding: 3% 3%;
}

.blink {
  animation: linear blinking 1.5s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  display: block;
  width: 90%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  box-shadow: 0 5px 20px black;
  opacity: 0.5;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background: radial-gradient(hsl(0, 100%, 50%), hsl(0, 100%, 20%));
}

.green {
  background: radial-gradient(hsl(120, 100%, 25%), hsl(120, 100%, 10%));
}

.blue {
  background: radial-gradient(hsl(240, 100%, 50%), hsl(240, 100%, 20%));
}

.yellow {
  background: radial-gradient(hsl(60, 100%, 50%), hsl(60, 100%, 20%));
}

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 1;
  background: radial-gradient(20%, 50%);
}

@media (max-width: 600px) {
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    margin: 10% auto 5%;
    padding: 10% 3%;
    color: #fef2bf;
  }

  .btn {
    margin: 20px;
    height: 150px;
    width: 150px;
    border: 7px solid black;
    border-radius: 20%;
  }
}
