html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  text-align: center;
  background-color: #011f3f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  padding: 2% 0%;
}

.container {
  grid-row: 2 / 3;
  display: block;
  width: 100%;
  margin: 3% auto;
}

/* Header */

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #fef2bf;
}

/* Buttons */
.btn {
  margin: 15px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
  box-shadow: 0 5px 20px black;
  opacity: 0.5;
}

.red {
  background: radial-gradient(hsl(0, 100%, 50%), hsl(0, 100%, 20%));
}

.green {
  background: radial-gradient(hsl(120, 100%, 25%), hsl(120, 100%, 10%));
}

.blue {
  background: radial-gradient(hsl(240, 100%, 50%), hsl(240, 100%, 20%));
}

.yellow {
  background: radial-gradient(hsl(60, 100%, 50%), hsl(60, 100%, 20%));
}

/* pressed state */
.pressed {
  box-shadow: 0 0 20px white;
  opacity: 1;
}

/* Game over background color */
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* // animation for title text */
.blink {
  animation: linear blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-device-width: 700px) {
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin: 15% auto;
    color: #fef2bf;
    padding: 3% 3%;
  }
  .btn {
    margin: 30px;
    height: 330px;
    width: 330px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .container {
    margin: 10% auto;
  }
}
