body {
  text-align: center;
  background-color: #011f3f;
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.container {
  grid-row: 2 / 3;
  display: block;
  width: 95%;
  margin: auto;
}

/* Header */

.header {
  grid-row: 1 / 2;
  height: 180px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 5%;
  color: #fef2bf;
  padding: 3% 3%;
}

/* Buttons */
.btn {
  margin: 25px;
  display: inline-block;
  height: 230px;
  width: 230px;
  border: 10px solid black;
  border-radius: 20%;
  box-shadow: 0 5px 20px black;
  opacity: 0.5;
}

.red {
  background: radial-gradient(hsl(0, 100%, 50%), hsl(0, 100%, 20%));
}

.green {
  background: radial-gradient(hsl(120, 100%, 25%), hsl(120, 100%, 10%));
}

.blue {
  background: radial-gradient(hsl(240, 100%, 50%), hsl(240, 100%, 20%));
}

.yellow {
  background: radial-gradient(hsl(60, 100%, 50%), hsl(60, 100%, 20%));
}

/* pressed state */
.pressed {
  box-shadow: 0 0 20px white;
  opacity: 1;
}

/* Game over background color */
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* // animation for title text */
.blink {
  animation: linear blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 10% auto;
    color: #fef2bf;
    padding: 3% 3%;
  }
  .btn {
    margin: 15px;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
}
